<section class="jumbotron">
	<div class="container">
		<h2>Alta Brocker</h2>
		<submenu perfil="perfilUsuario" />
	</div>
</section>
<div class="container">
	<div class="container" ng-hide="multiple">
		<form id="forma" name="myForm">
			<div class="col-md-6">
				Nombre del Brocker: <input class="form-control"
					ng-model="brocker.nickname" type="text" ng-required="true" onkeyup="javascript:this.value=this.value.toUpperCase();"><br>
			</div>
			
			<div class="col-md-6">
			Responsable: <select class="form-control"
				ng-model="brocker.responsable" type="text" ng-required="true">
					<option ng-repeat="usuario in usuariosLista" ng-if="usuario.usuario!='root'" value="{{usuario.id}}">{{usuario.usuario}}</option>
				</select><br>
		</div>
			<div class="col-md-12">
				<button value="Guardar" class="btn"
					ng-click="myForm.$valid && guardaBrocker()">Guardar</button>

			</div>
		</form>
	</div>
<div id="snackbar">Alta de Brocker Exitoso.</div>
</div>