<section class="jumbotron">
	<div class="container">
		<h2>Registra Usuarios</h2>
		
	</div>
</section>


<section class="main container">
	<div class="row">
		<section class="posts col-md-9">
			<div class="miga-de-pan">
				<ol class="breadcrumb">
					<li><a href="#/index.html">Ir a Inicio</a></li>
				</ol>
			</div>
			<form name="form" ng-submit="EnviarFormulario()">
				<article class="post clearfix">
					<br> Nombre de Usuario: <input type="text"
						class="form-control" ng-model="usuario.usuario" required>
					<br> Contrase&ntilde;a: <input type="password" class="form-control" name="pass" id="pass" title="La contrase&ntilde;a debe contener al menos 8 caracteres, incluidos MAYUSCULAS / minusculas y almenos un numero"
						ng-model="usuario.pass" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*)[A-Za-z\d]{8,}$/" required ng-change="validatePass()">
					<br><label ng-show="!form.pass.$valid">Debe contener 8 car&aacute;cteres, m&iacute;nimo, una may&uacute;scula, una min&uacute;scula y un n&uacute;mero.</label>
					<br>Confirmar Contrase&ntilde;a: <input type="password" class="form-control" name="passconfirm" id="passconfirm"
						ng-model="usuario.passconfirm" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*)[A-Za-z\d]{8,}$/" required ng-change="validatePass()"> 
					<div ng-show="!form.passconfirm.$untouched"><br><label ng-show="IsMatchP">Las contrase&ntilde;as ingresadas no coinciden</label></div>
					<br> Email: <input
						type="email" ng-model="usuario.email" name="email" id="email"
						class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required ng-change="validate()"> 
					<br> Confirmar Email: <input
						type="email" ng-model="usuario.emailconfirm" name="emailconfirm" id="emailconfirm"
						class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required ng-change="validate()"> 
					<div ng-show="!form.emailconfirm.$untouched"><br><label ng-show="IsMatch">Los correos ingresados no coinciden</label></div>
<!-- 					<br> Perfil:<select ng-model="usuario.perfil"> -->
<!-- 						<option ng-repeat="x in perfiles" value="{{x.tipo}}" required ng-if="x.tipo!='AdministradorRoot'">{{x.tipo}}</option> -->
<!-- 					</select> -->
						Perfil: <select class="form-control" ng-model="usuario.perfil"
										ng-required="!multiple" required>
										<option>Ejecutivo</option>
										<option>Administrador</option>
										<option>Caja</option>
										
									</select><br>  
					<button type="submit" value="Guardar" class="btn" ng-show="acceptSubmit()">
						Guardar</button>
					<button type="submit" value="Limpiar" class="btn">Limpiar</button>
				</article>
			</form>
			<nav>
				<div class="center-blog"></div>
			</nav>
		</section>
	</div>
	<div id="snackbar">Alta de Usuario Exitoso.</div>
</section>