<section class="jumbotron">
	<div class="container">
	 <h2>Cuentas</h2>
		<submenu/>
	</div>
</section>
<div class="container">
		<table class="table table-stripped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Banco</th>
				<th>Cuenta</th>
				<th>Clabe</th>
				
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			
			<tr ng-repeat="cuenta in cuentas">
				<td style="width: 20%;">{{cuenta.nombre}}</td>
				<td style="width: 20%;">{{cuenta.banco}}</td>
				<td style="width: 20%;">{{cuenta.cuenta}}</td>
				<td style="width: 20%;">{{cuenta.clabe}}</td>
				
				<td style="width: 20%;">
				<button title="Ver Detalles de Cuenta"class="btn btn-small"
						ng-click="ver(alerta.empresa)">
						<i class="glyphicon glyphicon-eye-open"></i>
					</button>
							<button title="Editar Cuenta" class="btn btn-small"
								ng-click="editarCuenta(numCuenta)">
								<i class="glyphicon glyphicon-edit"></i>
							</button>
							
							<button title="Eliminar Cuenta" class="btn btn-small"
								ng-click="eliminarCliente(numCuenta)">
								<i class="glyphicon glyphicon-remove"></i>
							</button>
							</td>
			</tr>
		</tbody>

	</table>
	
</div>
