<section class="jumbotron">
	<div class="container">
	 <h2>Lista de Pagos</h2>
		<submenu perfil="perfilUsuario"/>
	</div>
</section>
<div class="container">
<div class="col-md-6">
			<ul class="pagination .pagination-sm" style="margin:0;">
				<li ng-repeat="abc in paginas" id="{{'pagA'+abc}}"
					ng-click="cargarPagina(abc)"><a>{{abc}}</a></li>

			</ul>
		</div>
		<table class="table table-stripped">
		<thead>
			<tr>
				<th>Banco</th>
				<th>Cuenta</th>
				<th>Monto</th>
				<th>Referencia</th>
				<th>Estatus</th>
				<th>Acciones</th>
				
			</tr>
		</thead>
		<tbody>
			
			<tr ng-repeat="pagos in ListPagos">
				<td>{{pagos.banco}}</td>
				<td>{{pagos.cuenta}}</td>
				<td>${{pagos.monto}}</td>
				<td>{{pagos.referencia}}</td>
				<td>{{pagos.estatus}}</td>
				<td>
							
							<button title="Ver Pago" class="btn btn-small"
								>
								<i class="glyphicon glyphicon-credit-card"></i>
							</button>
							<button title="Eliminar Pago" class="btn btn-small"
								ng-click="eliminar(pago)">
								<i class="glyphicon glyphicon-remove"></i>
							</button>
							</td>
			</tr>
		</tbody>

	</table>
	<div class="row">
			<div class="col-md-6">
		 		<ul class="pagination .pagination-sm">
					<li ng-repeat="abc in paginas" id="{{'pagB'+abc}}"
						ng-click="cargarPagina(abc)"><a>{{abc}}</a></li>
				</ul>
			</div>
</div>
</div>

