<section class="jumbotron">
	<div class="container">
	 <h2>Registro de Pagos</h2>
		<submenu/>
	</div>
</section>
<div class="container">
		<table class="table table-stripped">
		<thead>
			<tr>
				<th>Cliente</th>
				<th>Saldo</th>
				<th>Status</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cliente in clientes">
				<td>{{ot.cliente}}</td>
				<td>{{ot.resguardo}}</td>
				<td>{{ot.satus}}</td>
				<td><button class="btn btn-small"
						ng-click="ver(alerta.empresa)">
						<i class="glyphicon glyphicon-eye-open"></i>
					</button></td>
			</tr>
		</tbody>

	</table>
	
</div>

