<section class="jumbotron">
	<div class="container">
		<h2>Ordenes de trabajo</h2>
		</submenu>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<ul class="pagination .pagination-sm" style="margin:0;">
				<li ng-repeat="abc in paginas" id="{{'pagA'+abc}}"
					ng-click="cargarPagina(abc)"><a>{{abc}}</a></li>

			</ul>
		</div>
		<br>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Cliente</th>
					<th>Saldo</th>
					<th>Status</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ot in ots">
					<td>{{ot.nombreCliente}}</td>
					<td>{{ot.resguardo}}</td>
					<td>{{ot.estatus}}</td>
					<td><button class="btn btn-small" ng-click="ver(ot.id)">
							<i class="glyphicon glyphicon-eye-open"></i>
						</button>
						<a class="btn btn-info" data-toggle="tooltip"
							title="Imprimir OT"
							href=" ots/descargaOt/{{ot.id}}" download="ordenDeTrabajo.pdf">
							<i class="glyphicon glyphicon-print"></i>
						</a>	
					</td>
				</tr>
			</tbody>	
		</table>
	</div>
	<div class="row">
		<div class="col-md-6">
	 		<ul class="pagination .pagination-sm">
				<li ng-repeat="abc in paginas" id="{{'pagB'+abc}}"
					ng-click="cargarPagina(abc)"><a>{{abc}}</a></li>
			</ul>
		</div>
	</div>
</div>

