<section class="jumbotron">
	<div class="container">
		<h2>Lista Brokers</h2>
		<submenu perfil="perfilUsuario"/>
	</div>
</section>
<div class="container">
<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-3">
			<div class="input-group">
				<input id="searchBox" class="form-control form-control-sm"
					type="text" ng-model="busca" placeholder="Broker"
					data-provide="typehead" autocomplete="off"
					onkeyup="javascript:this.value=this.value.toUpperCase();">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit"
						ng-click="filtroBroker()">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
			</div>
		</div>
		<button class="btn btn-small" ng-click="verTodo()">Ver Todo</button>

	</div>
 		<div class="col-md-6">
			<ul class="pagination .pagination-sm" style="margin:0;">
				<li ng-repeat="abc in paginas" id="{{'pagA'+abc}}"
					ng-click="cargarPagina(abc)"><a>{{abc}}</a></li>

			</ul>
			
		</div>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th width="40%">Broker</th>
				<th style="width: 20%;">Saldo MXN</th>
				<th style="width: 20%;">Saldo USD</th>
				<th width="20%">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bk in brockerLista">
				<td>{{bk.nickname}}</td>
				<td>{{bk.saldo | currency}}</td>
				<td>{{bk.saldoUSD | currency}}</td>
				<td><button title="Ver Brocker"class="btn btn-small" data-toggle="modal" ng-click="ver(bk)" data-target="#myModalVista"
						>
						<i class="glyphicon glyphicon-eye-open"></i>
					</button>
					<button title="Historial de Resguardo."class="btn btn-small"  ng-click="cargaResguardos(bk)" data-target="#modalResguardo" data-toggle="modal"
						>
						<i class="glyphicon glyphicon-list-alt"></i>
					</button>
					<button title="Editar"class="btn btn-small"  ng-click="editar(bk)" data-toggle="modal" data-target="#MDEditar"
						>
						<i class="glyphicon glyphicon-edit"></i>
					</button>
					
					<button title="Eliminar"class="btn btn-small"  ng-click="eliminar(bk)" data-toggle="modal" 
						>
						<i class="glyphicon glyphicon-remove"></i>
					</button>
					
					</td>
			</tr>
		</tbody>

	</table>
	<div class="col-md-6">
	 		<ul class="pagination .pagination-sm">
				<li ng-repeat="abc in paginas" id="{{'pagB'+abc}}"
					ng-click="cargarPagina(abc)"><a>{{abc}}</a></li>
			</ul>
 <!-- Modal Ver BROCKER	-->
  <div class="modal fade" id="myModalVista" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalVista" aria-hidden="true">
                           
      <div class="modal-dialog" id="mdialTamanio">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <p class="modal-title" id="myModalLabel">Detalles del Brocker </p>
            
          </div>
          <div class="modal-body">
           <h4>Datos Generales</h4>
           <div>
<!--            ID:<br><label>{{bk.id}}</label><br> -->
           Nombre:<br><label>{{bk.nickname}}</label><br>
<!--            Tipo: <br><label>{{bk.tipo}}</label><br> -->
           Responsable:<br><label>{{bk.responsable}}</label><br>
           Disponible:<br><label>{{bk.enabled}}</label><br>
                    
           </div>
           <br>
           <div ng-show="ca">
           <h4>Clientes Asociados</h4>
           
           <div class="list-type3">
           <ul ng-repeat="cliente in listaCliente"><li><b>{{cliente.nickname}}</b></li></ul>
           </div>
<!--            <table class="table table-stripped" style="width: 20%;"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th style="width: 20%;">Nombre</th> -->
						
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
			
<!-- 					<tr ng-repeat="cliente in listaCliente"> -->
<!-- 						<td>{{cliente.nickname}}</td> -->
						
<!-- 					</tr> -->
<!-- 			</tbody> -->

<!-- 	</table> -->
	<br>
	</div>
<!-- 	<div ng-show="ca"> -->
<!--            <h4>Cuentas Asosiadas</h4> -->
<!--            <table class="table table-stripped"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th style="width: 20%;">Titular</th> -->
<!-- 						<th style="width: 25%;">Banco</th> -->
<!-- 						<th style="width: 15%;">Cuenta</th> -->
<!-- 						<th style="width: 20%;">Clabe</th> -->
<!-- 						<th style="width: 20%;">Acciones</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
			
<!-- 					<tr ng-repeat="bcuenta in ccuenta"> -->
<!-- 						<td>{{bcuenta.nombre}}</td> -->
<!-- 						<td>{{bcuenta.banco}}</td> -->
<!-- 						<td>{{bcuenta.cuenta}}</td> -->
<!-- 						<td>{{bcuenta.clabe}}</td> -->
<!-- 						<td> -->
						
<!-- 									<button title="Eliminar Cuenta" class="btn btn-small" ng-click="eliminarcc(bcuenta)"> -->
<!-- 										<i class="glyphicon glyphicon-remove"></i> -->
<!-- 									</button> -->
<!-- 									</td> -->
<!-- 					</tr> -->
<!-- 			</tbody> -->

<!-- 	</table> -->
<!-- 	</div> -->
	<br>
<!-- 	<div ng-show="rc"> -->
<!-- <!-- 	Formulario oculto cuando se precione el boton de Nueva cuenta abrirlo -->
<!-- 	<form id="forma" name="myForm"> -->
<!-- 	<h4>Registro de Cuenta</h4><br> -->
<!-- 		<div class="col-md-6"> -->
<!-- 			Banco:  -->
<!-- <!-- 			<input class="form-control" --> 
<!-- <!-- 				ng-model="cuenta.banco" type="text" ng-required="true"><br> --> 
				
<!-- 				<select name="bankList" ng-model="cuenta.banco" class="form-control" id="bankList" ng-required="true"> -->
<!-- 			<option value=""></option> -->
<!-- <option value="Banco Nacional de M&eacutexico (Banamex)">Banco Nacional de M&eacutexico (Banamex)</option> -->
<!-- <option value="Banco Santander (M&eacutexico)">Banco Santander (M&eacutexico)</option> -->
<!-- <option value="HSBC Mexico.">HSBC M&eacutexico.</option> -->
<!-- <option value="Scotiabank Inverlat.">Scotiabank Inverlat.</option> -->
<!-- <option value="BBVA Bancomer.">BBVA Bancomer.</option> -->
<!-- <option value="Banco Mercantil del Norte (Banorte).">Banco Mercantil del Norte (Banorte).</option> -->
<!-- <option value="Banco Interacciones.">Banco Interacciones.</option> -->
<!-- <option value="Banco Inbursa.">Banco Inbursa.</option> -->
<!-- <option value="banca Mifel.">banca Mifel.</option> -->
<!-- <option value="Banco Regional de Monterrey.">Banco Regional de Monterrey.</option> -->
<!-- <option value="Banco Invex.">Banco Invex.</option> -->
<!-- <option value="Banco del Bajio.">Banco del Bajio.</option> -->
<!-- <option value="Bansi.">Bansi.</option> -->
<!-- <option value="Banca Afirme.">Banca Afirme.</option> -->
<!-- <option value="Bank of America Mexico.">Bank of America M&eacutexico.</option> -->
<!-- <option value="Banco J.P. Morgan.">Banco J.P. Morgan.</option> -->
<!-- <option value="Banco Ve Por Mas.">Banco Ve Por Mas.</option> -->
<!-- <option value="American Express Bank (Mexico).">American Express Bank (M&eacutexico).</option> -->
<!-- <option value="Investa Bank.">Investa Bank.</option> -->
<!-- <option value="CiBanco.">CiBanco.</option> -->
<!-- <option value="Bank of Tokyo-Mitsubishi UFJ (Mexico).">Bank of Tokyo-Mitsubishi UFJ (M&eacutexico).</option> -->
<!-- <option value="Banco Monex.">Banco Monex.</option> -->
<!-- <option value="Deutsche Bank Mexico.">Deutsche Bank M&eacutexico.</option> -->
<!-- <option value="Banco Azteca.">Banco Azteca.</option> -->
<!-- <option value="Banco Credit Suisse (Mexico).">Banco Credit Suisse (M&eacutexico).</option> -->
<!-- <option value="Banco Autofin Mexico.">Banco Autofin M&eacutexico.</option> -->
<!-- <option value="Barclays Bank Mexico.">Barclays Bank M&eacutexico.</option> -->
<!-- <option value="Banco Ahorro Famsa.">Banco Ahorro Famsa.</option> -->
<!-- <option value="Intercam Banco.">Intercam Banco.</option> -->
<!-- <option value="ABC Capital. ">ABC Capital. </option> -->
<!-- <option value="Banco Actinver.">Banco Actinver.</option> -->
<!-- <option value="Banco Compartamos.">Banco Compartamos.</option> -->
<!-- <option value="Banco Multiva.">Banco Multiva.</option> -->
<!-- <option value="UBS Bank Mexico.">UBS Bank M&eacutexico.</option> -->
<!-- <option value="Bancoppel.">Bancoppel.</option> -->
<!-- <option value="ConsuBanco.">ConsuBanco.</option> -->
<!-- <option value="Banco Wal-Mart de Mexico.">Banco Wal-Mart de M&eacutexico.</option> -->
<!-- <option value="Volkswagen Bank.">Volkswagen Bank.</option> -->
<!-- <option value="Banco Base.">Banco Base.</option> -->
<!-- <option value="Banco Pagatodo.">Banco Pagatodo.</option> -->
<!-- <option value="Banco Forjadores.">Banco Forjadores.</option> -->
<!-- <option value="Bankaool.">Bankaool.</option> -->
<!-- <option value="Banco Inmobiliario Mexicano.">Banco Inmobiliario Mexicano.</option> -->
<!-- <option value="Fundacion Donde Banco.">Fundaci&oacuten Dond&eacute Banco.</option> -->
<!-- <option value="Banco Bancrea.">Banco Bancrea.</option> -->
<!-- </select><br> -->
				
<!-- 		</div> -->
<!-- 		<div class="col-md-6"> -->
<!-- 			Cuenta: <input class="form-control" -->
<!-- 				ng-model="cuenta.cuenta" type="text" ng-required="true"><br> -->
<!-- 		</div> -->
		
<!-- 		<div class="col-md-6"> -->
<!-- 			Clabe: <input class="form-control" -->
<!-- 				ng-model="cuenta.clabe" type="text" ng-required="true"><br> -->
<!-- 		</div> -->
<!-- 		<div class="col-md-6"> -->
<!-- 			Titular: <input class="form-control" -->
<!-- 				ng-model="cuenta.nombre" type="text" ng-required="true"><br> -->
<!-- 		</div> -->
		
<!-- 		<!--    	   ^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))([A-Z\d]{3})?$ -->
		

		
<!-- 			<button value="Guardar" class="btn" ng-controller="brockercuentacontroller" onClick="this.disabled=true" -->
<!-- 				ng-click="myForm.$valid && guardabrockerCuenta(bk.id)">Guardar</button> -->
<!-- 			<button ng-click="btnCancelar()" class="btn">Cancelar</button> -->
	
<!-- 	</form> -->
	
<!-- 	</div> -->
          </div>
          <div class="modal-footer">
<!--           <button type="button" class="btn btn-default" ng-controller="brockercuentacontroller" ng-show="btn" ng-click="hide()">Nueva Cuenta</button> -->
<!--           <button type="button" class="btn btn-default" ng-show="btn">Asosiar Cliente</button> -->
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reload()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
<!--     MODAL PARA CONFIRMAICON DE ELIMINACION DEL BROCKER -->
   <div id="mdsino" class="modal fade">
    
    <div class="modal-dialog mdlconfirmacion">
        <div class="modal-content modal-content-sm">
            
            <div class="modal-body">
                <p id="pmdl">Desea Continuar con la Eliminacion?</p>
                
            </div>
            <div class="modal-footer">
                <button id="btnsi" 

                type="button" class="btn btn-primary">Aceptar</button>
                <button id="btnno" 

                type="button" class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modalgif"></div>
<!--     MODAL PARA EDICION DEL BROCKER -->
<div class="modal fade" id="MDEditar" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="MDEditar" aria-hidden="true">
  
    <div class="modal-dialog" id="mdialTamanio">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Broker</h4>
      </div>
      <div class="modal-body">
	<div class="container" ng-hide="multiple">
	 
	<form id="forma" name="myForm">
		<div class="col-md-5">
			Nombre del Brocker: <input class="form-control"
				ng-model="bk.nickname" type="text" ng-required="true" onkeyup="javascript:this.value=this.value.toUpperCase();"><br>
		</div>
<!-- 		<div class="col-md-5"> -->
<!-- 			Tipo de Cliente:  -->
<!-- 			<select ng-model="client.tipo" class="form-control" ng-required="true"> -->
<!-- 			  <option value="cliente">Cliente</option> -->
<!-- 			</select><br> -->
<!-- 		</div> -->
		<div class="col-md-5">
			Responsable: <select class="form-control"
				ng-model="bk.responsable" type="text" ng-required="true">
					<option ng-repeat="usuario in usuariosLista" ng-if="usuario.usuario!='root'" value="{{usuario.id}}">{{usuario.usuario}}</option>
				</select><br>
		</div>
<!-- 		<div class="col-md-5"> -->
<!-- 			Brocker: <select class="form-control" -->
<!-- 				ng-model="client.idBrocker" type="text" ng-required="true"> -->
<!-- 					<option ng-repeat="bk in brockerLista" value="{{bk.id}}">{{bk.nickname}}</option> -->
<!-- 				</select><br> -->
<!-- 		</div> -->
<!-- 		<div class="col-md-1"> -->
<!-- 			Activo: <select class="form-control" ng-model="client.enabled"> -->
<!-- 				<option value="true">Si</option> -->
<!-- 				<option value="false">No</option> -->
<!-- 				</select><br> -->
<!-- 		</div> -->
		<div class="col-md-12">
			<button value="Guardar" class="btn"
				ng-click="myForm.$valid && editarBrocker()">Guardar</button>
			
		</div>
	</form>
</div>      
</div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
	<div id="snackbar">Broker Editado Correctamente.</div>
</div>
<div id="modalResguardo" class="modal fade" role="dialog">
  <div class="modal-dialog" id="mdialTamanio">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Historial de Resguardo</h4>
      </div>
      <div class="modal-body">
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-6">
<label>Nombre:&nbsp; </label>{{broker.nickname }}
</div>
<div class="col-sm-4">
<label>Saldo:&nbsp; </label>{{broker.saldo |currency }} <br>
<!-- <label>Saldo USD:&nbsp; </label>{{broker.saldoUSD |currency }} <br> -->
</div>
</div>
<br>
<br>
<div class="row">
<div id="box">
<div class="col-sm-6">
			<table style="width: 100%" class="table table-stripped" alingn="center">
				<thead>
					<tr>
						<th style="width: 10">No. OT</th>
						<th style="width: 45%" align="center"> Fecha </th>
						<th style="width: 35%"> Entrada</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="op in listaResguardos">
						<td>{{op.idOrden}}</td>
						<td>{{op.fechaCreacion | date: "shortDate"}}</td> 
						<td>{{op.monto| currency}}</td>
					</tr>
					<tr>
					<td colspan="3">Total Entrada:&nbsp;{{suma1 | currency}}</td>
					</tr>
					
				</tbody>
			</table>
			</div>
			<div class="col-sm-6">
			<table style="width: 100%" class="table table-stripped" alingn="center">
				<thead>
					<tr>
						<th style="width: 10">No. OT</th>
						<th style="width: 45%" align="center"> Fecha </th>
						<th style="width: 35%"> Salida</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="op in listaCA">
						<td>{{op.id}}</td>
						<td>{{op.fechaInicio}}</td>
						<td>{{op.total | currency}}</td>
						
					</tr>
					<tr>
				
					<td colspan="3">Total Salida:&nbsp;{{suma | currency}}</td>
					</tr>
				</tbody>
			</table>
			
			</div>
	 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
  </div>
</div>